  .resizableContainer{
    margin:auto;
  }

  .imageContainer{
    display:grid;
    width: 100%;
  }
  .resposiveImage{
    width:100%;
    object-fit: contain;
  }

  .resizableContainerResize{
    margin:auto;
    resize: horizontal;
    overflow: auto;
    border: 5px solid #1e91d9;
  }
  .resizableContainerFix{
    resize : none;
    overflow : visible;
    width : "100%";
    border: none;
  }