  .resizableContainer{
    margin:auto;
  }

  .imageContainer{
    display:grid;
    width: 100%;
  }
  .responsiveImage{
    width:100%;
    object-fit: contain;
  }

  .resizableContainerResize{
    margin:auto;
    resize: horizontal;
    overflow: auto;
    border: 5px solid #1e91d9;
  }
  .resizableContainerFix{
    resize : none;
    overflow : visible;
    width : "100%";
    border: none;
  }

  .videoContainer{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; 
}
.responsiveVideo { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}