.overlay{
  width: 100%;
  position: fixed;
  position: absolute;
  display: grid;
  z-index: 600;
  margin: auto;
  pointer-events: none;
  place-items: center;
}  

.imageModal, .videoModal, .codeModal{
  background: #cececea2;
  backdrop-filter: blur(5px);
  pointer-events: auto;
  max-width: 600px;
  display: none;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.addImage, .addVideo, .addCode{
  display: grid;
  align-items: center;
  margin-bottom: 10px;
}
  
  .resizableContainer{
    display: inline-block;
    width: 100%;
  }

  .responsiveImage{
    width:100%;
    object-fit: contain;
    margin: auto;
  }

  .codeContainer{
    width: 98%;
    max-height: 300px;
  }

  .resizableContainerResize{
    margin:auto;
    resize: horizontal;
    overflow: auto;
    border: 5px solid #1e91d9;
  }
  .resizableContainerFix{
    resize : none;
    overflow : visible;
    width : 100%;
    border: none;
  }

  .videoKeepRatio{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; 
    display: block;
  }
.responsiveVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.responsiveVideoOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 40;
  display: block;
  top: 0;
  margin: 0;
  background: #2b2b2ba2;
  backdrop-filter: blur(5px);
}


.card {
  width: 100%;
  background-color: #FFF;
  outline: 1px solid;
  padding: 5px;
  position: relative;
}
.textarea {
  outline: 1px solid;
  margin: 10px;
  padding: 10px;
}
.topnav {
  background-color: #FFF;
  margin: 10px;
}

.navBarBtn {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  padding: 0;
}

.navBarBtn:hover {
  background-color: #d4ecff;
}

.navBarIcon{
  margin: 0;
  padding: 0;
  max-width: 40px;
}